h1,
ul,
li,
body {
  padding: 0;
  margin: 0;
  /* color: rgb(82, 80, 80); */
}
li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}

/* --> reset css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2e6e9;
  padding: 20px 30px;
}
header i {
  margin-right: 5px;
}
ul a {
  margin-right: 10px;
}

@media (max-width: 750px) {
  /* body {
    min-width: 320px;
  } */
  header {
    display: block;
  }
  h1 {
    margin-bottom: 10px;
  }
  ul a {
    display: block;
    margin-bottom: 10px;
  }
  ul,
  .icons {
    text-align: center;
  }

  /* animation--> */
  header {
    animation: bgChange 1s forwards;
  }
  @keyframes bgChange {
    to {
      background-color: steelblue;
      color: white;
    }
  }
}
