/* reset css */
body,
p,
h1,
button,
ul,
li {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

/* header style */
.second-container {
  padding: 100px 0;
  margin: 0 auto;
  width: 1024px;
}

header {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
}
.title-wrap span {
  display: inline-block;
  font-size: 40px;
  color: white;
}
.title-wrap .title {
  /* width: 26%; */
  box-shadow: inset 0 -0.6em 0 orangered;
  /* flex-basis: 280px; */
}
header .title-wrap {
  flex-basis: 26%;
  flex-shrink: 0;
  /* p의 양이 많지만 이렇게 하면 축소 안되고 26% 확보 가능, 줄어들지 않음 */
}
header p {
  /* width: 74%; */
  color: #bd8fe8;
  font-size: 14px;
  padding: 25px 0px;
  line-height: 23px;
}
header div.horizontal-line {
  width: 120px;
  height: 0.5px;
  background-color: #bd8fe8;
  border: 1px solid #bd8fe8;
  align-items: center;
  margin-right: 20px;
}

/* main layout--------------------------------- */
section.wrap {
  /* width: 1080px; */
  /* height: 173px; */
  /* max-width: 100%; */
  display: flex;
  position: relative;
  margin-bottom: 40px;
  box-shadow: inset 0 0 30px yellow;
}
.wrap:last-child {
  margin-bottom: 0;
}

/* section style-------------------------- */
section img {
  width: 26%;
  /* flex-basis: 26%; */
  /* flex-shrink: 0; */
  object-fit: cover;
  /* max-width: 100%; */
  /* opacity: 60%; */
}
.left-wrap strong {
  width: 26%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.4);
  color: white;
  font-size: 30px;
  font-weight: inherit;
  inset: 0;
}
.second strong {
  width: 26%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.4);
  color: white;
  font-size: 30px;
  font-weight: inherit;
}
div.explain-text-wrap {
  /* width: 74%; */
  flex-basis: 74%;
  /* flex-grow: 1; */
  background-color: white;
  padding: 24px;
}
.explain-text-wrap p {
  color: #673399;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px;
}
.explain-text-wrap li {
  font-size: 14px;
  line-height: 25px;
}
li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bd8fe8;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
li {
  padding-left: 20px;
  text-indent: -20px;
}
ul {
  margin-left: -10px;
}
/* second-wrap----------------- */
section.second {
  flex-direction: row-reverse;
  position: relative;
}

/* .wrap.second::after {
  content: "Craft";
  position: absolute;
  color: white;
  font-size: 30px;
  top: 50%;
  right: 6%;
  transform: translate(-50%, -50%);
} */

/* ------------------------------------------- */

@media (max-width: 1155px) {
  body {
    padding: 30px 80px;
    width: auto;
  }

  header {
    display: block;
  }
  .horizontal-line {
    display: none;
  }
  .main-wrap {
    margin-top: -50px;
  }
  .wrap {
    position: relative;
  }

  .wrap img {
    /* width: 26%; */
    flex-basis: 45%;
    object-fit: cover;
  }
  /* .wrap .explain-text-wrap {
    max-width: inherit;
  } */
  /* .left-wrap::after {
    content: "Rest";
    position: absolute;
    color: white;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .wrap.second::after {
    content: "Craft";
    position: absolute;
    color: white;
    font-size: 30px;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}

/* ------------------------------------- */
@media (max-width: 620px) {
  body {
    padding: 30px 20px;
  }

  header {
    display: block;
  }
  .horizontal-line {
    display: none;
  }
  .main-wrap {
    margin-top: -50px;
  }
  .wrap {
    flex-direction: column;
    position: relative;
    /* width: calc(100% - (70px * 2)); */
    /* min-width: 370px; */
    /* flex-shrink: 0; */
  }
  section.second {
    flex-direction: column;
  }
  .wrap img {
    width: 100%;
    flex-basis: 0;
    height: 170px;
    object-fit: cover;
    position: relative;
  }
  .wrap .explain-text-wrap {
    max-width: inherit;
  }
  /* .left-wrap::after {
    content: "Rest";
    position: absolute;
    color: white;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  /* .wrap.second::after {
    content: "Crafteee";
    position: absolute;
    color: white;
    font-size: 30px;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
  } */
}
