h1,
h2,
input,
button,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* reset css------------------ */
.container {
  width: 520px;
  margin: 0 auto;
  box-shadow: inset 0 0 4px salmon;
}
header {
  border-bottom: 1px solid #c4c4c4;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0 18px;
}
h1::after {
  content: "";
  width: 44px;
  height: 44px;
  background: url(img/close.png) no-repeat center / 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* header css------------------------- */

h2 {
  font-size: 20px;
  margin: 0px 0 24px;
}

main {
  padding: 26px 24px 25px;
}

.inp-login,
.inp-pw,
button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}
input::placeholder {
  font-size: 16px;
  padding-left: 16px;
}
.id-des,
.pw-des {
  font-size: 14px;
  color: #f4492e;
  display: block;
}
.id-des {
  margin: 6px 0 10px 4px;
}

/* checkbox, login버튼, 회원가입, 또는---------- */
label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  background: url(img/retina.png) -10px -10px / 84px 42px;
  vertical-align: -5px;
}

.label-click::before {
  background: url(img/retina.png) -52px -10px / 84px 42px;
}
label {
  cursor: pointer;
}
.checkbox-login {
  display: none;
}
.btn-login {
  font-size: 18px;
  background-color: #2f80ed;
  color: white;
}
.join::after {
  content: "  ㅣ  ";
}
.join-find {
  color: #767676;
  text-align: center;
  margin: 20px 0 30px;
}
.or {
  text-align: center;
  color: #767676;
  position: relative;
  margin-bottom: 20px;
}
.or::before {
  content: "";
  width: 210px;
  height: 1px;
  background-color: #767676;
  position: absolute;
  top: 50%;
  left: 0;
}
.or::after {
  content: "";
  width: 210px;
  height: 1px;
  background-color: #767676;
  position: absolute;
  top: 50%;
  right: 0;
}
/* 계정 로그인-------------------------- */
li {
  /* width: 472px;
  height: 50px; */
  border: 1px solid black;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #767676;
}

.icon::before {
  /* position: absolute; */
  content: "";
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 7px;
  background-image: url(img/css_sprites.png);
  /* background-size: 116px 83px; */
}

.google::before {
  /* background: url(img/Google__G__Logo\ 1.png) no-repeat 15px 50% / 2em; */
  background-position: -10px -10px;
  border-color: #767676;
}
.facebook::before {
  /* background: url(img/facebook.png) no-repeat 15px 50% / 2em; */
  background-position: -10px -58px;

  border-color: #2d9cdb;
}
.naver::before {
  /* background: url(img/naver-logo.png) no-repeat 15px 50% / 2em; */
  background: url(./img/css_sprites.png) no-repeat -10px -106px;
  border-color: #00bf18;
}
.kakao::before {
  /* background: url(img/message-circle.png) no-repeat 15px 50% / 
  2em; */
  background: url(./img/css_sprites.png) no-repeat;
  background-position: -10px -154px;

  margin-bottom: 0;
  border-color: #f2c94c;
}

/* h1::after {
  content: "";
  background: url(img/close.png) no-repeat 0 0 / 1rem;
} */
